@font-face {
    font-family: "Heebo-Regular.ttf";
    src: url('fonts/Heebo-Regular.ttf');
}
@font-face {
    font-family: "Poppins-Regular.ttf";
    src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: "Montserrat-Regular.ttf";
    src: url('fonts/Montserrat-Regular.ttf');
}