.idea {
  margin-bottom: 100px;
  &__title {
    margin-bottom: 48px;
    margin-left: 45px;
  }
  &__design {
  }
  &__design-dashboard {
  }
  &__design-dashboard-img {
    width: 351px;
    border-radius: 24px;
    margin-bottom: 5px;
  }
  &__design-dashboard-text {
    margin-bottom: 5px;
  }
  &__design-dashboard-title {
    margin-bottom: 20px;
  }

  &__design-onboard {
  }
  &__design-onboard-img {
    width: 351px;
    border-radius: 24px;
    margin-bottom: 5px;
  }
  &__design-onboard-text {
    margin-bottom: 5px;
  }
  &__design-onboard-title {
    margin-bottom: 20px;
  }

  &__design-homepage {
  }
  &__design-booking-img {
    width: 351px;
    border-radius: 24px;
    margin-bottom: 5px;
  }
  &__design-booking-text {
    margin-bottom: 5px;
  }
  &__design-booking-title {
    margin-bottom: 20px;
  }

  &__design-homepage {
  }
  &__design-homepage-img {
    width: 351px;
    border-radius: 24px;
    margin-bottom: 5px;
  }
  &__design-homepage-text {
    margin-bottom: 5px;
  }
  &__design-homepage-title {
    margin-bottom: 35px;
  }

  &__link {
    text-decoration: none;
    font-family: "Poppins-Regular.ttf";
    font-size: 18px;
    line-height: 27px;
    color: #2d9cdb;
  }
  &__svg {
    margin-left: 12px;
  }
}
